.footer-section {
  background-color: #d16537;
  color: #fff;
  padding: 60px 0;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  display: flex;
  gap: 104px;
  flex: 1;
}

.footer-right {
  display: flex;
  align-items: flex-start;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  width: 233px;
  height: 21px;
}

.footer-logo img {
  width: 100%;
  object-fit: cover;
}

.footer-links,
.social-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-links {
  align-items: flex-end;
}

.footer-link,
.social-link {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
}

@media (max-width: 1180px) {
  .footer-container {
    gap: 24px;
  }
}

@media (max-width: 970px) {
  .footer-container {
    flex-direction: column;
    gap: 80px;
  }

  .social-links {
    align-items: flex-start;
  }

  .footer-left {
    gap: 16px;
    flex-direction: column;
  }

  .footer-column:first-child {
    margin: 0px 0px 27px 0px;
  }
}
