.register-button {
  background-color: #d16537;
  color: #fff !important;
  padding: 9.5px 20px;
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.3s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: fit-content;
}

.register-button:hover {
  color: #fff !important;
  box-shadow: 0 2px 8px #c7c7c7;
}
