.title {
  font-family: Fira Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  line-height: 100%;
  color: #161817;
}

.subtitle {
  font-family: Fira Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #161817;
  width: fit-content;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Fira Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  color: #161817;
  width: fit-content;
}
