@import './css/header.css';
@import './css/footer.css';
@import './css/title.css';
@import './css/register.css';
@import './css/modal.css';

/* Fira Sans Font Family */
@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

img.descktop {
  display: block;
}

img.mobile {
  display: none;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #fff;
}

.move-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #161817;
  overflow: hidden;
  z-index: 1000;
}

.move-line-content {
  display: flex;
  gap: 50px;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  color: #fff;
  animation: move-line 60s linear infinite;
  -webkit-animation: move-line 60s linear infinite;
}

@keyframes move-line {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

.banner-content span {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
  display: inline-block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

strong {
  font-size: 28px;
}

.center-block {
  max-width: 1102px;
  margin: 0 auto;
  padding: 0 16px;
}

.main-container {
  border-bottom: 1px solid #161817;
  padding: 50px 0px;
}

.main-container:last-child {
  border-bottom: none;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.title-container {
  max-width: 30%;
}

.description-container {
  max-width: 765px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.banner-container {
  width: 100%;
  height: 500px;
  background: #f0f0f0;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.common-wrapper__container {
  margin: 56px 0px 122px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.call-for-entries-container .title-container {
  max-width: 541px;
}

.call-for-entries-container .sub-title-container {
  max-width: 470px;
}

.call-for-entries-container .description-container {
  max-width: 765px;
}

.call-for-entries-container .description-container .description {
  max-width: 765px;
}

.title__common-container {
  max-width: 541px;
}

.call-for-entries-container_banner-container,
.knowledge__banner-container {
  margin: 66px 0px 0px;
  max-width: 541px;
  height: 368px;
  background: #f0f0f0;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.call-for-entries-container_banner-container img,
.knowledge__banner-container img {
  max-width: 100%;
  height: 368px;
  object-fit: cover;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.who-we-are_banner-container,
.what-we-do_banner-container {
  width: 317px;
  height: 380px;
  background: #f0f0f0;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.who-we-are_banner-container img,
.what-we-do_banner-container img {
  width: 317px;
  height: 380px;
  object-fit: cover;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.think-tank__banner-container {
  width: 368px;
  height: 368px;
  background: #f0f0f0;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.think-tank__banner-container img {
  width: 368px;
  height: 368px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.partners-wrapper {
  display: flex;
  gap: 20px;
}

.partners-item {
  width: 314px;
  height: 314px;
  display: block;
}

.partners-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts-title-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.social-icon {
  width: 68px;
  height: 68px;
  object-fit: cover;
}

@media (max-width: 1180px) {
  .main-content {
    flex-direction: column;
    gap: 32px;
  }

  .description-container {
    max-width: 100%;
  }
}

@media (max-width: 780px) {
  .main-container {
    padding: 32px 0px 28px;
  }

  .main-content {
    gap: 16px;
  }

  .description-container {
    gap: 28px;
  }

  .title-container {
    max-width: 100%;
  }

  .wrapper {
    gap: 16px;
  }

  .partners-wrapper {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .common-wrapper__container {
    margin: 16px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .call-for-entries-container_banner-container {
    margin: 16px 0px 0px;
  }

  strong {
    font-size: 20px;
  }

  .contacts-title-container {
    gap: 12px;
  }
  .social-icon {
    width: 34px;
    height: 34px;
    object-fit: cover;
  }

  .banner-container,
  .call-for-entries-container_banner-container,
  .who-we-are_banner-container,
  .what-we-do_banner-container {
    width: 100%;
    height: 260px;
    background: #f0f0f0;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
  }

  .banner-container img,
  .call-for-entries-container_banner-container img,
  .who-we-are_banner-container img,
  .what-we-do_banner-container img {
    width: 100%;
    height: 260px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
  }

  .think-tank__banner-container {
    width: 100%;
    height: 343px;
    background: #f0f0f0;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
  }

  .think-tank__banner-container img {
    width: 100%;
    height: 343px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
  }

  img.descktop {
    display: none;
  }

  img.mobile {
    display: block;
  }
}
